article.post {
  .post-tags {
    font-size: small;
    margin-bottom: 1em;
    a {
      color: gray;
      font-size: smaller;
      //padding: 0 8px 2px 8px;
      //border: 1px solid black;
      //background-color: #1756a9;
      //color: white;
      &:hover {
        color: #1756a9;
      }
    }

  }


}