---
layout: default
---
<div id="tags">

    <h1>This blog's tags</h1>
    <h2><strong>{{ page.tag }}</strong> tag</h2>

    {%- assign date_format = site.minima.date_format | default: "%Y-%m-%d" -%}

    {% for post in page.posts %}
    <div class="post-ref">
        {{ post.date | date: date_format }} | <strong><a href="{{ post.url }}">{{ post.title }}</a></strong>
        <span class="post-tags">{{ post | tags }}</span>
    </div>
    {% endfor %}

    <hr/>
    <h2>Tag cloud</h2>
    <div id="tag-cloud">
        {{ site | tag_cloud }}
    </div>

</div>